extends layout

block content
  a(href="/") Home
  h1= title
  h2 Welcome to #{title}
  p #{image.name} by TestUser
  img(src=`/${image.path}`, alt="img", class="sell-image")
  p Price Price:$ #{image.price/1000} 
  p Quantity that can be bought: #{image.quantity}
 
  form(action=`/images/${image.id}/buy` method="post")
    p How many 
      input(type="number" name="quantity" max=`${image.quantity}` min="0" required)
    button Buy