extends layout

block content
  h1= title
  h2 Welcome to #{title}
  div(class="images-container")
    each image in images
      div(class="image-container")
        img(src=`${image.path}`, alt="Image")
        span()
          p Quantity up for sell : #{image.quantity}
          // convert pennies to dollars
          p Price:$ #{image.price/1000} 
          button
            a(href=`images/${image.id}/buy`) Buy
          button
            a(href=`images/${image.id}/sell`) Sell
          button 
            a(href=`images/${image.id}/manage`) Manage
